:root {
	font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 50px;
}

#picker {
	position: relative;
}

#handle {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 999px;
	background-color: #ffffff;
	border: 3px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
